

#banner-categoria {
    background-image: url("../Imagenes/banners/carrousel.png") !important;
    background-size: cover;
    background-position: center;
    
}

#navbar {
  
  background-color: #8027aa !important;
}

/* footer */
footer {
  background-color: #8027aa;

}

footer p {

  color: #ffffff !important;
}