

#banner-categoria {
    position: relative;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.titulo-categoria {
    position: relative;
    z-index: 1;
    text-align: center !important;
    color: white;
    padding: 30px;
}

#banner-categoria::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../Imagenes/banners/carrousel.png");
    background-size: cover;
    background-position: center;
    filter: brightness(78%);
    z-index: 0;
}

#banner-categoria > .col-md-6 {
    position: relative;
    z-index: 1;
}

#navbar {
  
  background-color: #8027aa !important;
}

/* footer */
footer {
  background-color: #8027aa;

}

footer p {

  color: #ffffff !important;
}

.btn-carrito {
  background-color: #8027aa !important;
  color: #ffffff !important;
}