

#banner-categoria {
    position: relative;
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.titulo-categoria {
    position: relative;
    z-index: 1;
    text-align: center !important;
    color: white;
    padding: 30px;
}

#banner-categoria::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../Imagenes/banners/descarga.png");
    background-size: cover;
    background-position: center;
    filter: brightness(78%);
    z-index: 0;
}

#banner-categoria > .col-md-6 {
    position: relative;
    z-index: 1;
}

/* NAVBAR */

#navbar {
  
  background-color: #aa44d9 !important;

  
}
#navbar .nav-link {
  color: #ffffff !important;
}

#navbar .nav-link:hover {
  color: #5f1d67 !important;
}
/* ajustar solo el form dentro del navbar */
nav#navbar .d-flex { margin-left: 0.75rem; gap: .5rem; }

nav#navbar button.btn-outline-success {
  background-color: transparent !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
}

nav#navbar button.btn-outline-success:hover {
  background-color: #ffffff !important;
  color:#aa44d9  !important;
  border-color: #ffffff !important;
}
.dropdown-menu {
  background-color: #6e2690 !important;
 
}
.dropdown-item {
  color: #ffffff !important;
}
.dropdown-item:hover {
  background-color: #8027aa !important;
  color: #ffffff !important;
}
/* Focus moderno */
.form-control:focus,
.form-select:focus{
    border-color: #8027aa;
    box-shadow: 0 0 0 3px rgba(128,0,0,0.15);
}

/* BOTON */
.btn-carrito {
  background-color: #aa44d9  !important;
  color: #ffffff !important;
  border-color: #aa44d9  !important;

}

.btn-outline-secondary {
  background-color: transparent !important;
  color: #aa44d9  !important;
  border-color: #aa44d9  !important;

}
.btn-outline-secondary:hover {
  background-color: #512266  !important;
  color: #ffffff !important;
  border-color: #512266 !important;
}

.btn-secondary {
  background-color: #aa44d9  !important;
  color: #ffffff !important;
  border-color: #aa44d9  !important;
}



/* ICONOS */
.person {
  padding-left: 7px;
}
/* footer */
footer {
  background-color: #8027aa;

}

footer p {

  color: #ffffff !important;
}


